@mixin dc-card {
    // scss-lint:disable ColorVariable
    padding: 0;
    background-color: transparent;
    border-radius: 0;
    box-shadow: 0;
}

@mixin dc-card-selectors {
    .dc-card {
        @include dc-card;
    }
}
